.card {
  float: left;
  position: relative;
  margin: 0 1% 50px;
  width: 100%;
  list-style: none;
  cursor: pointer;
}

.card-img {
  background: var(--clr-gray-light);
  border-radius: 5px;
  width: 100%;
}

.card-info {
  display: flex;
  width: 100%;
}

.card-types {
  display: flex;
  gap: 0.25em;
  font-size: 11px;
  line-height: 18px;
}

@media (min-width: 510px) {
  .card {
    width: 48%;
  }
}
