.card {
  float: left;
  position: relative;
  margin: 0 1% 50px;
  width: 100%;
  list-style: none;
}

.card-img {
  background: var(--clr-gray-light);
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.card-img:hover {
  animation: bounce 0.25s ease;
}

.card-info {
  display: flex;
  width: 100%;
}

.card-types {
  display: flex;
  gap: 0.25em;
  font-size: 11px;
  line-height: 18px;
}

@media (min-width: 510px) {
  .card {
    width: 48%;
  }
}

@media (min-width: 770px) {
  .card {
    width: 31%;
  }
}

@media (min-width: 1025px) {
  .card {
    width: 23%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}