.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 5em 0.5em;
  margin: 0 auto;
  gap: 0.25em;
}

.home-view-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-page-up {
  padding-block: 1.5em;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border-radius: 10px 0 0 0 !important;
  opacity: 0.6;
  border: 2px solid var(--clr-black) !important;
  background: var(--clr-gray);
  transition: transform 0.3s linear;
}

.btn-page-up:hover {
  background: var(--clr-gray-dark);
}

.btn-load-more {
  background: var(--clr-blue);
}

.btn-load-more:hover {
  background: var(--clr-blue-hover);
}