.pokemon-cards {
  width: 90%;
  padding: 0.5em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.home-view-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-page-up {
  position: fixed;
  bottom: -8px;
  right: -4px;
  cursor: pointer;
}
