.results {
  position: relative;
  width: 90%;
  margin: auto;
}

.home-view-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-page-up {
  background: var(--clr-gray-darker);
  border-color: var(--clr-black);
  border-radius: 10px 0 0 0 !important;
  border-style: solid;
  border-width: 2px 0 0 2px;
  cursor: pointer;
  height: 64px;
  width: 64px;
  opacity: 0.6;
  padding: 0;
  position: fixed;
  bottom: -68px;
  right: 0;
  transition: all 0.2s linear;
  z-index: 10;
}

.btn-page-up:hover {
  background: var(--clr-gray-darker);
}

.arrow-up {
  margin-top: 0.25em;
}

.btn-load-more {
  background: var(--clr-blue);
  margin: 3em auto 1em;
}

.btn-load-more:hover {
  background: var(--clr-blue-hover);
}

@media (min-width: 460px) {
  .results {
    width: 100%;
  }
}