.card-title-details {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 2rem;
  margin-bottom: 1em;
}

.id {
  font-weight: bold;
  color: var(--clr-gray-dark);
}

.name {
  color: var(--clr-black);
}

.id-pokedex {
    font-size: 80%;
}

.name-pokedex {
  font-size: 1.25rem;
  margin-bottom: 0.25em;
}
