.button {
  background-color: #ee6b2f;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(85%);
}
