.btn {
  background-color: var(--clr-orange);
  padding: 8px 30px;
  display: inline-block;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--clr-orange-hover);
}

.btn:active {
  transition: all 0.1s ease-in-out;
  transform: scale(0.95);
}
