.details-card-container {
  width: 100%;
  background: #fff;
  position: relative;
}

.details-card {
  position: relative;
  margin: 0 auto 50px;
}

.details {
  margin-bottom: 3em;
}

.details-img {
  background: var(--clr-gray-light);
  border-radius: 5px;
}

.pokemon-description {
  font-size: 1.25rem;
  padding-top: 0.5em;
}

.info-container {
  background: var(--clr-blue);
  display: flex;
  flex-wrap: wrap;
  padding: 1.25em;
  border-radius: 8px;
}

.type-container > h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

.types {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}

@media (min-width: 960px) {
  .details-card {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
  }

  .details-left-column,
  .details-right-column {
    width: 49%;
  }
}
