@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --clr-black-dark: #1f1f1f;
  --clr-black: #313131;
  --clr-gray-light: #f2f2f2;
  --clr-gray: #a4a4a4;
  --clr-gray-dark: #919191;
  --clr-gray-darker: #616161;
  --clr-green: #4dad5b;
  --clr-green-hover: #369143;
  --clr-blue: #30a7d7;
  --clr-blue-hover: #1b82b1;
  --clr-orange: #ee6b2f;
  --clr-orange-hover: #da471b;
  --clr-red: #e3350d;
}

@font-face {
  font-family: "Flexo-Regular";
  src: url("../fonts/flexo/Flexo-Regular.ttf");
}

@font-face {
  font-family: "Flexo-Medium";
  src: url("../fonts/flexo/Flexo-Medium.ttf");
}

@font-face {
  font-family: "Flexo-Demi";
  src: url("../fonts/flexo/Flexo-Demi.ttf");
}

*,
*::after,
*::before,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Flexo-Regular";
  box-sizing: border-box;
  background: var(--clr-black) url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  height: 100%;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  background: #fff url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.content {
  padding: 3em 1em;
  background: #fff;
  position: relative;
}

@media (min-width: 460px) {
  .content {
    width: 80%;
    max-width: 876px;
    margin: auto;
  }
}
