@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;
}

:root {
  --clr-type-bug: #729f3f;
  --clr-type-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  --clr-type-fairy: #fdb9e9;
  --clr-type-fire: #fd7d24;
  --clr-type-ghost: #7b62a3;
  --clr-type-ground: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  --clr-type-normal: #a4acaf;
  --clr-type-psychic: #f366b9;
  --clr-type-steel: #9eb7b8;
  --clr-type-electric: #eed535;
  --clr-type-fighting: #d56723;
  --clr-type-flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  --clr-type-grass: #9bcc50;
  --clr-type-ice: #51c4e7;
  --clr-type-poison: #b97fc9;
  --clr-type-rock: #a38c21;
  --clr-type-water: #4592c4;
  --clr-type-dark: #707070;
}