.view-title {
  margin: 0 auto;
  background: #fff;
  padding: 1em 1em;
}

.view-title-text {
  margin-left: 1em;
  color: var(--clr-gray-dark);
}

@media (min-width: 460px) {
  .view-title {
    width: 80%;
    max-width: 876px;
  }
}
