.type {
  font-family: "Flexo-Medium";
  text-align: center;
  width: 38%;
  border-radius: 3px;
  max-width: 10em;
}

.type-details {
  padding-block: 6px;
  border-radius: 5px;
}

.type-advanced {
  border: 2px solid var(--clr-gray-dark);
  padding-block: 4px;
  border-radius: 5px;
  width: 6em;
  margin-right: 0.5em;
}