.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.search {
  padding: 40px 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.search-input-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-container input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  border: none;
  color: #313131;
  line-height: 24px;
  font-size: 20px;
  width: 100%;
}

.search-text-container {
  border-radius: 5px;
  width: 90%;
}

.search-text-container p {
  padding: 20px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .search {
    flex-direction: row;
    padding: 60px 0px;
  }

  .search-input-container {
    margin-bottom: 0;
    align-items: flex-start;
  }

  .search-input-container input {
    width: 350px;
  }

  .search-text-container {
    width: 70%;
  }
}
