.gauge-container {
  width: 14%;
  text-align: center;
}

.gauge-bars {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 3px;
}

.gauge-bar {
  background-color: #fff;
  height: 7px;
  width: 100%;
  border-bottom: #a4a4a4 4px solid;
  width: 100%;
}

.gauge-title {
  font-size: 65%;
}
